* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: rgb(206, 145, 54);
}

.quote {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 8px;
  background-color: rgb(206, 145, 54);
  height: calc(100vh - 200px);
}

.quote p {
  font-size: 30px;
  color: white;
  text-align: left;
  font-stretch: expanded;
}

.quote p span {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
